.title {
    color: rgb(146, 57, 57);
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.avatar img {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

.avatar input {
    margin-top: 50px;
}

.profile {
    text-align: center;
    flex: 2;
}

.button:hover,
.button {
    letter-spacing: 0;
}

